
.container {
    margin-top: 30px;
}

.container p{
    text-align: center;
    margin-top: 10px;
}

.container img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 14px auto 0px auto;
}

.circle {
    width: 65px;
    height: 65px;
    border: 2px solid #FFB95F;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.two {
    margin-top: 40px;
}

.container a {
    color: #f4f4f4;  
    text-decoration: none;
}

.container a:visited {
    color: #f4f4f4;  
    
}

h5, .container a:hover {
    font-weight: 100;
    color: #FFB95F;
    font-family: 'Poppins', sans-serif;
}

h5 {
    margin: 50px 0 15px 0;
    text-align: center;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}



/*Tablet view*/
@media only screen and (min-width: 620px) {
   

    h2 {
        font-size: 27px;
    }

    h5{
        font-size: 17px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .big-circle {
        padding: 0px 40px 0px 40px;
    }

    .two {
        margin-top: 0px;
    }

    main, h2 {
        margin-top: 50px;
    }

    footer p {
        font-size: 15px;
    }

}
