*{
    color: hsl(0, 0%, 100%);    
}

body{
    background-color: #EEEEEE;   
    height: 100%;
    overflow: scroll;
}

nav {
    height: 70px;
    background-color:#121212;
}

.box {
    display: block;
    width: 90vw;
    min-height: 360px;
    background-color: #fff;
    margin: 1rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 80vw;
    min-height: 180px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.box p, h6  {
    font-family: 'Poppins', sans-serif;
    color: #444444;  
}

.box p {
    padding: 10px 10px 0px 15px;
    font-size: 12px;
    font-weight: 100;
}

.box:hover {
    box-shadow: 6px 6px 30px #ebebeb, 
    -6px -6px 30px #ffffff;
    cursor:pointer;
}

h6 {
    font-size: 22px;
    line-height: 1.5;
    padding: 5px 15px;
}

footer {
    background-color:#121212;
    height: 50px;
    position: unset;
}

footer p {
    padding: 10px;
}

/*Tablet screen*/
@media only screen and (min-width: 660px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

   .box {
        width: 40vw;
        min-height: 360px; 
    }

    .box img {
        width: 35vw;
        min-height: 180px;
        display: block;
        margin:0 auto;
        padding-top: 20px;
    }
}

/*Laptop screen*/
  @media only screen and (min-width: 970px) {
   .box {
        width: 25vw;
        min-height: 380px; 
    }

    .box img {
        width: 22vw;
        min-height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }

    .topic{
        padding-left: 5px;
    }   
  }